@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  background-image: url("/img/background/space-background.png");
  width: 100%;
  height: auto;
  font-family: 'Orbitron', sans-serif;
 }

 #app {
  width: 100%;
  display: flex;
  flex-direction: row;
 }

.vertical-menu {
  height: 100%;
  padding-inline-start: 0px;
}

.vertical-menu menuitem {
  color: white;
  display: block;
  padding: 12px 12px;
  text-decoration: none;
  background-image: url("/img/background/button-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 12px 24px;
}

.vertical-menu menuitem:hover:not(.disabled) {
  background-color: #ccc; /* Dark grey background on mouse-over */
  border-radius: 5px;
}

.vertical-menu menuitem.active:not(.disabled) {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}

.disabled, .disabled a {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

.pageTitle {
  padding: 25px;
  width: 20%;
  line-height: 4.5em;
  display: inline-block;
}

h1 {
  color: white;
  font-size: 55px;
}

.uiContainer {
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 30%;
  background-image: url("/img/background/menu-container.png");
  background-repeat: no-repeat;
  background-size: contain;
}

span {
  color:white;
  text-decoration: none;
  font-size: 3.2vmin;
}

menuitem:hover {
  color:white;
  border-radius: 3px;
}

/* Vibration */
.vibrate:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
