@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  background-image: url("/img/background/space-background.png");
  width: 100%;
  height: auto;
  font-family: 'Orbitron', sans-serif;
 }

.vertical-menu {
  width: 200px; /* Set a width if you like */
}

.vertical-menu menuitem {
  background-color: #082023; /* Grey background color */
  color: white; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px 24px; /* Add some padding */
  margin-bottom: 24px;
  text-decoration: none; /* Remove underline from links */
  border-radius: 3px;
  border: 1px solid white;
}

.vertical-menu menuitem:hover:not(.disabled) {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu menuitem.active:not(.disabled) {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}

.disabled, .disabled a {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

.pageTitle {
  padding: 25px;
  width: 20%;
  line-height: 4.5em;
  display: inline-block;
}

h1 {
  color: white;
  font-size: 55px;
}

.uiContainer {
  width: 400px;
  display: inline-block;
  position: absolute;
  background-color: #4fc2bc;
  border: 5px solid #4fc2bc;
  top: 10%;
  left: 30%;
}

a {
  color:white;
  text-decoration: none;
  font-size: 24px;
}
a:visited {
  color:white;}
  
a:hover {
  color:#082023;
}

a:active {
  color:#4fc2bc;
}